.cards-conatiner{
    /* display: flex; */
    width: 100%;
}
.cards-home{
    /* display: flex; */
    padding-top: 40px;
    text-align: center;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 24px 18px 0 rgba(31, 29, 29, 0.2);
    margin: auto;
}
.card .image{
    width: 100%;
    height: 250px;
    display: block;
    float: none;
    position: static;
}

.services-container{
    padding-right: 100px;
}
