.home{
    padding: 40px;
}
.home-container{
    padding-right: 100px;
}
.cards{
    display: flex;
    padding: 10px ;
    width: 50%;
    padding-left: 120px;
    padding-bottom: 40px;
}
.sayings{
    text-align: center;
    background-color: rgb(241, 236, 225);
    padding: 20px;
    margin-bottom: 20px;
}